<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="application.css" rel='stylesheet' type='text/css' />
  <title>Flaky Result</title>
</head>
<body>
  <% @diffs.each do |diffs| -%>
    <div class="example">
      <h2>Location: <%= diffs[:location] -%></h2>
      <h2>Table: <%= diffs[:table] %></h2>
      <% if diffs[:result] == "no_content" -%>
        <%= "There were no failed and passed tests during the testing process. Try to increase the number of iterations." %>
      <% else -%>
        <p>Diffs:</p>
        <% diffs[:result].each do |diff| -%>
          <div>
            <table class="pure-table">
              <thead>
                <th>
                  <%=diffs[:table]%>'s Attribute
                </th>
                <th>
                  Passed value
                </th>
                <th>
                  Failed value
                </th>
              </thead>
              <tbody>
                <% diff.each do |attribute| -%>
                  <tr>
                    <td>
                      <span><%= attribute[1] || "Record"%></span>
                    </td>
                    <td style="background-color: lightgreen">
                      <span><pre><%= prettify attribute[2]%></pre></span>
                    </td>
                    <td style="background-color: rosybrown">
                      <span><pre><%= prettify attribute[3]%></pre></span>
                    </td>
                  </tr>
                <% end -%>
              </tbody>
            </table>
          </div>
        <% end -%>
      <% end -%>
    </div>
  <%end -%>
</body>
</html>